<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}" />
  </head>
  <body>
    <h1>Welcome to UoS Bookshop</h1>
    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: baseline;
      "
    >
      <img src="{% static 'images/ncvbook2.jpg'%}" />
      <a href="{% url 'add_book' %}">
        <button>Create New</button>
      </a>
    </div>
    <br />
    <table border="1" width="100%">
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Price</th>
        <th>Stock</th>
      </tr>
      {% for bk in books %}
      <tr>
        <td>{{bk.title}}</td>
        <td>{{bk.author}}</td>
        <td>{{bk.genre}}</td>
        <td>{{bk.price}}</td>
        <td>{{bk.stock}}</td>
        <td>
          <a href="{% url 'update_book' book_id=bk.id %}">
            <button name="UPDATE">UPDATE</button>
          </a>
        </td>
        <td>
          <a href="{% url 'delete_book' book_id=bk.id %}">
            <button name="DEL">DELETE</button>
          </a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
